# Deployer and owner
PRIVATE_KEY=

# Hardhat config
SCAN_API_KEY=
SCAN_API_KEY_POLYGON=
RPC_NODE_URL_RINKEBY=
RPC_NODE_URL_MAINNET=
RPC_NODE_URL_GOERLI=https://goerli.infura.io/v3/7e8450f38dce45ec88ecff6d8bb99d4e
RPC_NODE_URL_MUMBAI=https://polygon-mumbai.infura.io/v3/7e8450f38dce45ec88ecff6d8bb99d4e
RPC_NODE_URL_POLYGON=

# ERC721Mint contract
ERC721MINT_NAME=TEST
ERC721MINT_SYMBOL=TSK
ERC721MINT_URI=https://gateway.pinata.cloud/ipfs/QmPhNgR9i4PFtwhaXtf..

# Bridge
ETHEREUM_ERC721=
POLYGON_ERC721=
USER1_FROM=0x9e6a2A5Ac4D55eE0952aC3c09e6144353DD3d8DE
USER2_FROM=0xC480B32B4f6354B1479524114d6b284B57D81117
